/* Mobile Portrait View */

@media screen and (max-width:479px) {

*{box-sizing:border-box;}
	.top-nav { margin-bottom:10px;}
	#topbar .callus{ text-align:center; }
	#topbar .callus .fa{ float:none; display:inline;}
	#topbar .callus p{display:inline;}
	.top-nav ul { float:none; text-align:center;}
	.top-search { display:none;}
	.top-social { display: block; margin: 0 auto; width: 67%;}
	#topbar .nivo-caption .top-nav ul li a { font-size:11px; margin:5px 4px 0;}
	#slider .top-bar { padding:0 20px; top:35px;}
	#slider .top-bar h2 { font-size:25px; padding-bottom:25px;}
	#slider .top-bar a{ font-size:14px; padding:8px 20px; margin-top:0; width:auto;}
	.container { padding:0 20px;}
	#header { width:100%; padding:0 20px; position:inherit !important;}
	.logo { float:none; text-align:center;}
	.copyright-wrapper .inner{ width:100%;}
	.copyright{ float:none; text-align:center; margin-bottom:10px;}
	.footer, .copyright { width:auto; padding:0 20px;}
	.copyright-txt, .design-by { text-align:center; float:none;}

/* ------ Extra ------ */
	.toggle{display:block;}
	.toggle a{width:100%; color:#ffffff; background:url(../images/mobile_nav_right.png) no-repeat right center #222222; padding:10px 10px; margin-top:20px; font-size:16px;}
	.toggle a:hover{ color:#ffffff !important;}
	.toggle a.active{color:#ffffff;}
	.main-nav{display:none;}
	.main-nav{float:none; margin:0; position:relative; overflow-x:hidden; }
	.main-nav ul{background:#000000; color:#000; width:100%; float:none !important; margin-left:0;}
	.main-nav ul li{border-top:1px #303030 solid; display:block; float:none; text-align:left;}
	.main-nav ul li a{padding:5px 10px; display:block; color:#ffffff; font-size:13px;}
	.main-nav ul li ul, .nav ul li ul ul{ display:block !important;}
	.main-nav ul li ul li a:before{content:"\00BB \00a0";}
	.main-nav ul li ul li a{padding-left:20px !important;}
	.main-nav ul li ul li ul li a{padding-left:30px !important;}
	#header{ width:100%; padding:15px 0;}
	#header .logo{ float:none;}
	#slider .top-bar p{ display:none;}
	section{ padding:40px 0;}
	
/* --------- Pages ------- */
	.content-area{ width:auto; margin:0 20px; padding:50px 0;}
	.site-main{ width:auto; margin:0; padding:0; float:none;}
	h2.entry-title { font-size:20px;}
	#sidebar{ width:auto; margin:60px 0 0; padding:0; float:none;}
	#slider .nivo-caption{ top:0; width:100%; left:0;}
	#slider .nivo-caption .top-bar{ top:24px; padding-bottom:17px;}
	#slider .nivo-caption .top-bar h2{ font-size:17px; padding-bottom:25px; line-height:20px;}
	#slider .nivo-caption .top-bar a.read-more{ display:none;}
	a.contact{ margin-top:5px !important; font-size:12px !important;}
	#slider .nivo-directionNav a{ top:38%;}
	h2.section-title{ margin-bottom:5px;}
	.blogposts { margin-bottom:10%;}
	.blogposts h2 { font-size:20px !important;}
	.blogposts .author-name { width:auto;}
	.blogposts .comnt { display:none;}
	.postmeta, .entry-meta { font-size:11px;}	
	#services-box{ width:100%; margin-bottom:20px; float:none;}
	.header-bottom{ background-position:100%;}
	.entry-content iframe{ max-width:100%; height:auto;}
}

/* Mobile Landscape View */

@media screen and (max-width:719px) and (min-width:480px) { 
	*{box-sizing:border-box;}
	#topbar .callus{ text-align:center; }
	#topbar .callus .fa{ float:none; display:inline;}
	#topbar .callus p{display:inline;}
	.top-social { margin: 0 auto; width: 43%;}
	#slider .top-bar { padding:0 20px; top:60px;}
	#slider .top-bar h1 { font-size:30px; padding-bottom:5px;}
	#slider .top-bar a{ font-size:18px; padding:8px 20px; margin-top:20px;}
	#slider  .nivo-caption { text-align:center;}
	.container { width:auto; padding:0 20px;}
	#header { padding:0 20px; position:inherit !important;}
	.logo { float:none; text-align:center;}
	.blogposts { width:auto; display:block; margin-bottom:30px;}
	.blogposts .author-name { width:auto;}
	.comnt { width:30%;}
	.alignleft, img.alignleft { float:none; display:block;}
	.footer, .copyright { width:auto; padding:0 20px;}
	.copyright-txt, .design-by { text-align:center; float:none;}

/* ------ Extra ------ */
	.toggle{display:block;}
	.toggle a{width:100%; color:#ffffff; background:url(../images/mobile_nav_right.png) no-repeat right center #222222; padding:10px 10px; margin-top:20px; font-size:16px;}
	.toggle a:hover { color:#0bb5c7; text-decoration:none;}
	.toggle a.active{color:#0bb5c7; text-decoration:none;}
	.main-nav{display:none;}
	#header .main-nav{float:none; margin:0; position:relative; overflow-x:hidden; }
	#header .main-nav ul{background:#000000; color:#000; width:100%; float:none !important; margin-left:0; font-size:15px !important;}
	#header .main-nav ul li{border-top:1px #303030 solid; display:block; float:none; text-align:left;}
	.main-nav ul li a{padding:5px 10px; display:block; color:#ffffff !important;}
	.main-nav ul li a:hover{color:#ee6133 !important;}
	.main-nav ul li ul li a:before{content:"\00BB \00a0";}
	.main-nav ul li ul li a{padding-left:20px !important;}
	.main-nav ul li ul li ul li a{padding-left:30px !important;}
	#header .logo{ float:none;}
	#slider .top-bar p{ display:none;}
	#prevslide, #nextslide{ top:0;}
	.copyright-wrapper .inner{ width:100%;}
	.copyright{ float:none; text-align:center; margin-bottom:10px;}
	section{ padding:40px 0;}

/* --------- Pages ------- */
	.content-area{ width:auto; margin:0 20px; padding:50px 0;}
	.site-main{ width:auto; margin:0; padding:0; float:none;}
	#sidebar{ width:auto; margin:60px 0 0; padding:0; float:none;}
	#slider .nivo-caption{ top:0; width:80%; height:90%;}
	#slider .nivo-caption .top-bar{ top:35px; padding-bottom:32px;}
	#slider .nivo-caption .top-bar h2{ font-size:24px; padding:10px 0; line-height:35px; text-align:center;}
	#slider .top-bar a.read-more{ display:none;}
	a.contact{ margin-top:5px !important; font-size:12px !important;}
	.nivo-directionNav a{ top:39% !important;}
	h2.section-title{ margin-bottom:5px;}
	#services-box{ width:279px; margin:0 auto 20px; float:none;}
	.header-bottom{ background-position:100%; width:95%;}
	.entry-content iframe{ max-width:100%; height:auto;}
}

@media screen and (max-width:899px) and (min-width:320px) { 

	h2.section-title { line-height:48px; font-size:25px !important; text-align:center;}
	.cat_comments{ height:auto;}
	#contact .column-2, #contact .column-2.last_column{ width:100%; float:none; margin:0 0 20px 0;}
	.toggle a { color:#ffffff;}
	.toggle a:hover { color:#ffffff; text-decoration:none;}
	.toggle a.active{color:#ffffff; text-decoration:none;}
	a.select { left:32%;}
}

/* Tablet View */
@media screen and (max-width:999px) and (min-width:720px) { 
	*{box-sizing:border-box;}
	#topbar .col-md-6{ width:48%;}
	.container { width:auto; padding:0 20px;}
	#header { padding:0 20px;}
	.blogposts { width:30%; display:inline-block; float:left; margin-right:5%;}
	.ourblog .blogposts h2 { font-size:19px;}
	.blogposts .author-name { width:auto;}
	.comnt { width:50% !important;}
	.footer, .copyright { width:auto; padding:0 20px;}
	.cat_comments .cat, .cat_comments .comnt{ font-size:10px;}
/* ------ Extra ------ */
	.toggle{display:block;}
	.toggle a{width:100%; color:#ffffff; background:url(../images/mobile_nav_right.png) no-repeat right center #222222; padding:10px 10px; margin-top:20px; font-size:16px;}
	.toggle a:hover { color:#ffffff; text-decoration:none;}
	.toggle a.active{color:#ffffff; text-decoration:none;}
	.main-nav{display:none;}
	#header .main-nav{float:none; margin:0; position:relative; overflow-x:hidden; }
	#header .main-nav ul{background:#000000; color:#000; width:100%; float:none; margin-left:0; font-size:15px !important; }
	#header .main-nav ul li{border-top:1px #303030 solid; display:block; float:none; text-align:left;}
	.main-nav ul li a{padding:5px 5px; display:block; color:#ffffff;}
	.main-nav ul li a:hover{padding-left:5px; padding-right:5px;}
	.main-nav ul li ul li a:before{content:"\00BB \00a0";}
	.main-nav ul li ul li a{padding-left:20px !important;}
	.main-nav ul li ul li ul li a{padding-left:30px !important;}
	#header .logo{ float:none; text-align:center;}

/* --------- Pages ------- */
	.content-area{ width:auto; margin:0 20px; padding:50px 0;}
	.alignleft, img.alignleft { float:none; display:block;}
	.site-main{ width:60%; margin:0; padding:0; float:left;}
	#sidebar{ width:35%; margin:0; padding:0; float:right;}
	.slider-main .nivo-caption{ top:0; }
	a.read-more, .common_btn{ margin-top:2px;}
	#slider .nivo-caption{ width:80%;}
	#slider .nivo-caption .top-bar h2{ font-size:25px; line-height:34px; padding-left:30px;}
	#slider .nivo-caption .top-bar p{ font-size:12px !important; line-height:20px; margin-bottom:10px;}
	a.contact{ margin-top:15px !important; font-size:18px !important;}
	a.select {font-size: 15px; left: 20%;}		
	.copyright-wrapper .inner{ width:95%; margin: auto;}
	.social-icons a { margin-right:6px;}
	.header-bottom{ background-position:100%; width:95%;}
}

@media screen and (min-width: 1000px) {
	#topbar .top-nav ul li a { margin-right:12px;}
	#header .main-nav ul li ul li{display:block; position:relative; float:none;}
	#header .main-nav ul li ul li a{color:#ffffff; display:block; padding-top:10px; padding-bottom:10px; border-bottom:1px #313131 solid; padding-right:0px !important; padding-left:0px !important;}
	.toggle a { text-decoration:none;}
	.toggle a:hover { color:#0bb5c7; text-decoration:none;}
	.toggle a.active{color:#0bb5c7; text-decoration:none;}
	a.select {font-size: 15px; left: 54px;}
	.ourblog .blogposts .author-name { width:auto;}
	.blogposts h2 { font-size:22px !important;}
	.comnt { width:37% !important;}
	.site-main { width:70%;}
	#slider .nivo-caption .top-bar{ top:-20px; margin-bottom:0;}
	#slider .top-bar h2 { line-height:normal;}
	
}

@media screen and (min-width:1000px) and (max-width:1159px){
	.copyright-wrapper .inner{ width:95%;}
	.nivo-caption{ top:17% !important; height:auto !important;}
	.cat_comments .cat{ width:48%;}
	.content-area{ width:95%; padding:50px 0; margin:0 auto;}
}