/*-------------------------- ie8 */
/* -- min 1024px --*/
	.container {
		  width: 1170px;
	}
	.zerif_full_site {
		min-width: 1170px;
		overflow: visible;
	}
	body {
		overflow: visible !important;
	}

/**** home */
	h2 {
		font-size: 26px !important;
	}
	.other-focus-list ul li {
		display: inline-block !important;
		margin-right: 50px !important;
		text-align: left !important;
	}
	.big-intro {
		text-align: right !important;
	}
	.about-us .column {
		margin-bottom: 70px !important;
	}
	.skills {
		margin-bottom: 0 !important;
		margin-left: 0 !important;
	}
	.team-member .profile-pic {
		width: 174px !important;
		height: 174px !important;
	}
	.team-member .details {
		display: block !important;
	}
	.purchase-now {
		margin: auto !important;
		text-align: left !important;
	}
	.purchase-now h3 {
		text-align: left !important;
		margin-bottom: 0 !important;
	}
	.purchase-now .button {
		float: left !important;	
	}
   	.purchase-now .red-btn {
	    float: left !important;
	}
	#client-feedbacks .feedback-box{
	    width: 30% !important;
        margin-left: 13px !important;
        margin-right: 13px !important;
	}
    .section-header h2{
        font-size: 45px !important;
    }
    .section-header {
        padding-bottom: 75px !important;
    }
    .focus, .works, .about-us, .features, .packages, .products, .testimonial, .contact-us {
        padding-top: 100 !important;
        padding-bottom: 100px !important;
    }
	.header {
		overflow: visible !important;
/*		min-height: 775px !important; */
		padding-bottom: initial !important;
	}
	.focus-box {
        margin-bottom: 25px !important;
		width: 25% !important;
    }
    .section-header {
        float: none !important;
        width: auto !important;
    }
	.big-intro {
		text-align: right !important;
		font-size: 60px !important;
	}
	.about-us .column {
		margin-bottom: 78px !important;
	}
	.our-clients {
	    width: 100% !important;
	    float: left !important;
	}
	.purchase-now {
		margin: auto !important;
		text-align: left !important;
	}
	.purchase-now h3 {
		text-align: left !important;
		margin-bottom: 0 !important;
	}
	.purchase-now .button {
		float: left !important;
	}  
	.post-img-wrap {
		width: auto !important;
	}
	.listpost-content-wrap {
		width: 63% !important;
		margin-top: -18px !important; 
	}
	.post-img-wrap a {
		float: none !important;
		margin: 0 auto !important;
		width: 250px !important;
		height: 250px !important;
	}
	.post-img-wrap a img{
		width: 200px !important;
	}
	.comment-reply-link {
		position: absolute !important;
		margin-top: 0 !important;
	}
	.comment-metadata {
		position: absolute !important;
		top: -2px !important;
		right: 55px !important;
	}
	.skills .skill .skill1 {
		font-weight: bold;
		font-style: normal;
		font-variant: normal;
		font-stretch: normal;
		font-size: 20px;
		line-height: normal;
		font-family: Arial;
		text-align: center;
		color: rgb(255, 255, 255);
		background: transparent;
		width: 50px;
		border: none;
		color: #e96656;
	}
	.skills .skill .skill2 {
		font-weight: bold;
		font-style: normal;
		font-variant: normal;
		font-stretch: normal;
		font-size: 20px;
		line-height: normal;
		font-family: Arial;
		text-align: center;
		color: rgb(255, 255, 255);
		background: transparent;
		width: 50px;
		border: none;
		color: #34d293;
	}
	.skills .skill .skill3 {
		font-weight: bold;
		font-style: normal;
		font-variant: normal;
		font-stretch: normal;
		font-size: 20px;
		line-height: normal;
		font-family: Arial;
		text-align: center;
		color: rgb(255, 255, 255);
		background: transparent;
		width: 50px;
		border: none;
		color: #3ab0e2;
	}
	.skills .skill .skill4 {
		font-weight: bold;
		font-style: normal;
		font-variant: normal;
		font-stretch: normal;
		font-size: 20px;
		line-height: normal;
		font-family: Arial;
		text-align: center;
		color: rgb(255, 255, 255);
		background: transparent;
		width: 50px;
		border: none;
		color: #e7ac44;
	}
	.about-us .column {
		float: left;
	}
	.cbp-rfgrid li a:hover .project-info {
		filter: alpha(opacity=100) !important;
		opacity: 1 !important;
	}

/**** header */
    .intro {
		line-height: 65px !important;
		font-size: 55px !important;
	}
	.intro-text {
		margin-top: 25% !important;
		line-height: 65px !important;
		font-size: 55px !important;
    }
	.client-list ul li {
		display: inline-block !important;
	}
	.responsive-logo {
		width: auto;
		position: relative;
		text-align: left;
		float: left;
	}
	.responsive-logo a {
		float: left !important;			
	}
	.responsive-nav {
		text-align: center;	
		width: auto;
		padding-top: 0;	
		}
	.responsive-nav li {
		margin-bottom: 15px;
		margin-top: 0 !important;
	}
	.bs-navbar-collapse {
		border: 0;
	}
	header .navbar-toggle {
		display: inherit;
	}
	.col-lg-4 {
		width: 33%;
		display: inline-block;
	}
	.col-lg-3,
	.col-sm-3{
		width: 25%;
		display: inline-block;
		float: left;
	}
	.navbar-collapse {
		float: right !important;
		width: auto !important;
		display: block !important;
	}
	.navbar-nav>li {
		float: left;
		margin-right: 20px !important;
		margin-top: 20px !important;
	}
	.navbar-inverse .navbar-nav>li>a {
		line-height: 35px;
	}
	header .navbar-toggle {
		display: none;
	}
	.navbar-inverse .navbar-collapse {
		border: none !important;
	}
	.navbar-right {
		margin: 0 !important;
	}
	.cbp-rfgrid li a .project-info {
		display: none;
		background: url(../images/tr-black-1px.png) !important;
	}
	.cbp-rfgrid li a:hover .project-info {
		display: block;
		background: url(../images/tr-black-1px.png) !important;
	}
	#main-nav {
		position: absolute !important;
	}

/**** footer */
	footer {
		padding-top: 0;
	}
	.four-cell,
	.three-cell,
	.two-cell,
	.one-cell {
		width: 25% !important;
		float: none;
 		display: inline-table;
	}
	.listpost-content-wrap-large{
		position: absolute;
	}
	.post-img-wrap-large {
		display: block;
	}
	.company-details {
		padding-top: 67px;
		padding-bottom: 30px;  
	}
	.copyright {
		width: auto;
		padding-top: 72px;
		padding-bottom: 68px;
	}
	.company-details {
		padding-top: 67px;
		padding-bottom: 30px;
	}

/* page */
	.col-md-9 {
		width: 75%;
		float: left;
	}
	.col-md-3 {
		width: 25%;
		float: left;
	}
	.widget_search input {
		float: left;
	}
	input[type="text"], 
	input[type="email"], 
	input[type="url"], 
	input[type="password"], 
	input[type="search"], 
	textarea,
	select {
		border: 1px solid #cccccc;
	}
	.comment-reply-link {
		font-size: 12px;
	}
	.woocommerce-page #content .quantity input.qty {
		line-height: 30px;
	}
	.listpost-content-wrap-large {
		background: #FFF;
	}
	
	.post-img-wrap{
		float: none !important;
		margin-right: 20px;
		display: inline !important;
		overflow: visible !important;
	}
	article.hentry {
		position: relative !important;
	}
	.post-img-wrap {
		position: absolute !important;
		left: 0 !important;
		top: 0 !important;
	}
	.listpost-content-wrap {
		padding-left: 220px !important;
		width: 100% !important;
		padding-top: 20px !important;
	}
