/**
 * Baton - Blue Color Scheme
 *
 * Copyright (C) 2015 Slocum Studio, licensed under the GPL.
 */

/**
 * General
 */
body {
    color: #282629;
	background: #fff;
}

a {
	color: #3f70d4;
}

hr {
	background: #f1f5f9;
}

h1, h2, h3, h4, h5, h6 {
	color: #282629;
}

blockquote {
	color: #282629;
}

blockquote cite {
	color: #84919e;
}

th {
	color: #282629;
	background: #fff;
}

tr {
	border-bottom-color: #fff;
}

pre {
	background: #fff;
}

pre:after {
	color: #fff;
	background: #84919e;
}

input, textarea {
	background: #fff;
}

select {
	background: #fff;
}


/**
 * Note
 */
/* Baton Features */
.baton-features-widget .baton-features-1 .note-col .note-content h1:after,
.baton-features-widget .baton-features-1 .note-col .note-content h2:after,
.baton-features-widget .baton-features-1 .note-col .note-content h3:after,
.baton-features-widget .baton-features-1 .note-col .note-content h4:after,
.baton-features-widget .baton-features-1 .note-col .note-content h5:after,
.baton-features-widget .baton-features-1 .note-col .note-content h6:after {
	border-bottom-color: #3f70d4;
}

/* Baton Features 2 */
.baton-features-widget .baton-features-2 .note-col-odd,
.baton-features-widget .baton-features-2 .note-row-even .note-col-even {
	background: #3f70d4;
}

.baton-features-widget .baton-features-2 .note-col-even,
.baton-features-widget .baton-features-2 .note-row-even .note-col-odd {
	background: #f1f4f9;
}


/**
 * Conductor
 */
/* Conductor Slider - General (Front Page Sidebar) */
.front-page-widgets .conductor-slider .arrows .arrow {
	color: #fff;
}

.front-page-widgets .conductor-widget .conductor-slider .dots .dot .dot-inner {
	border-color: #fff;
}

.front-page-widgets .conductor-widget .conductor-slider .dots .dot.active .dot-inner {
	background: #fff;
}

/* Slider - Testimonials (Front Page Sidebar) */
.front-page-widgets .conductor-widget.conductor-slider-testimonials-wrap {
	background: #3f70d4;
}

.front-page-widgets .conductor-widget.conductor-slider-testimonials-wrap .widget-title,
.front-page-widgets .conductor-widget.conductor-slider-testimonials-wrap .arrows .arrow {
	color: #fff;
}

/* Slider - Hero (Front Page Sidebar) */
.front-page-widgets .conductor-widget.conductor-slider-hero-wrap {
	background: #3f70d4;
}

.front-page-widgets .conductor-widget.conductor-slider-hero-wrap .widget-title {
	color: #fff;
}

/* Slider - News (Front Page Sidebar) */
.front-page-widgets .conductor-widget.conductor-slider-news-wrap {
	background: #3f70d4;
}

.front-page-widgets .conductor-widget.conductor-slider-news-wrap .widget-title {
	color: #fff;
}


/**
 * Header
 */
#header {
	background: #f1f4f9;
}

#title a, .archive-title .page-title {
	color: #282629;
}

#slogan {
	color: #84919e;
}

/* Primary Navigation */
#primary-nav-button.open,
#primary-nav-button:hover {
	background: #426aba;
}

nav .primary-nav li a {
    color: #747f81;
}

nav .primary-nav li:hover > a, nav .primary-nav li.current-menu-item > a, nav .primary-nav li.current_page_item > a {
	color: #3f70d4;
}

nav .primary-nav .sub-menu:before,
nav .primary-nav .children:before {
	border-bottom-color: #f1f4f9;
}

nav .primary-nav .sub-menu:after,
nav .primary-nav .children:after {
	border-bottom-color: #d6dce1;
}

nav .primary-nav .sub-menu li,
nav .primary-nav .children li {
	background: #f1f4f9;
	border-color: #d6dce1;
}

nav .primary-nav .sub-menu li:first-child,
nav .primary-nav .children li:first-child {
	border-top-color: #d6dce1;
}

nav .primary-nav .sub-menu li a,
nav .primary-nav .children li a,
nav .primary-nav-mobile li a {
	color: #747f81;
}

nav .primary-nav .sub-menu li:hover > a,
nav .primary-nav .children li:hover > a,
nav .primary-nav-mobile li:hover > a {
    color: #3f70d4;
}

nav .primary-nav .sub-menu .sub-menu:before,
nav .primary-nav .children .children:before {
    border-right-color: #f8f8f8;
}

nav .primary-nav .sub-menu .sub-menu:after,
nav .primary-nav .children .children:after{
	border-right-color: #d6dce1;
}

/* Secondary Navigation */
#secondary-nav-wrap {
    background-color: #3f70d4;
}

#secondary-nav-button {
	color: #282629;
	background: #f1f4f9;
}

#secondary-nav-button.open,
#secondary-nav-button:hover {
	color: #f1f4f9;
	background: #282629;
}

#secondary-nav li a {
	color: #b6c3de;
}

#secondary-nav li:hover > a,
#secondary-nav li.current-menu-item > a {
	color: #fff;
}

#secondary-nav .sub-menu:before {
	border-bottom-color: #3f70d4;
}

#secondary-nav .sub-menu li {
	background: #3f70d4;
}

#secondary-nav .sub-menu li a {
	color: #b6c3de;
}

#secondary-nav .sub-menu li:hover > a {
	color: #fff;
}

#secondary-nav .sub-menu .sub-menu:before {
	border-right-color: #3f70d4;
}


/**
 * Content
 */
.content, .article-author,
.after-posts-widgets .widget, .comments,
.sidebar-container, .conductor-default-content {
	background: #f1f4f9;
	box-shadow: 0 2px 0 0 #d3d8de;
}

.article-title,
.article-title a,
.conductor-widget .article-title a {
	color: #282629;
}

.article-title a:hover,
.conductor-widget .article-title a:hover {
	color: #3f70d4;
}

/* Buttons */
.button, a.button, .widget a.button, input[type="submit"] {
	background: #3f70d4;
}

.button:hover, a.button:hover,.widget a.button:hover, input[type="submit"]:hover {
	background: #282629;
}

.button-alt, a.button-alt, .widget a.button-alt {
	color: #3f70d4;
	background: #fff;
}

.button-alt:hover, a.button-alt:hover,.widget a.button-alt:hover {
	color: #fff;
	background: #3f70d4;
}

.article-categories-wrap a,
.article-post-meta,
.article-post-meta .article-date a,
.article-post-meta .article-author-link a,
.article-post-meta .article-comments-link a,
.article-post-navigation, .comments-navigation,
.comments .comment-meta, .comments .comment-meta a,
.comments .comment-reply-link,
.conductor-widget .article-categories-wrap a {
	color: #868686;
}

.home .article-post-meta, .blog .article-post-meta,
.search .article-post-meta, .archive .article-post-meta,
.conductor-widget .article-post-meta {
	background: #f8f9fc;
}

.article-post-meta .article-date a:hover,
.article-post-meta .article-author-link a:hover,
.article-post-meta .article-comments-link a:hover,
.comments .comment-reply-link:hover {
	color: #3f70d4;
}

.search-form .search-submit {
	color: #abb0b3;
}

/* Comments */
.article-post-navigation a, .comments-navigation a {
	color: #282629;
}

.comments-list > li,
.comments-list .children > li {
	border-bottom-color: #fff;
}

.comments .author-link,
.comments .author-link a {
	color: #282629;
}

/* Pagination */
.page-numbers li a {
	background: #f1f4f9;
}

.page-numbers li .current {
	color: #fff;
    background: #282629;
}

.page-numbers li a:hover {
	color: #fff;
	background: #3f70d4;
}

/**
 * Sidebars & Widgets
 */
.sidebar .widget {
	border-bottom-color: #fff;
}

.widget-title {
	color: #363a42;
}

.widget {
	color: #282629;
}

.widget a {
	color: #3f70d4;
}

/* Tags */
.widget_tag_cloud .tagcloud a {
	color: #3f70d4;
	background: #fff;
}

/**
 * Social Media
 */
.social-media-icons a:hover {
	color: #394d7b;
}

.social-media-footer .social-media-icons a {
	color: #c5cace;
}

.social-media-footer .social-media-icons a:hover {
	color: #747f81;
}

/**
 * Footer
 */
#footer {
	color: #747f81;
	background: #f1f4f9;
}

#footer h1, #footer h2,
#footer h3, #footer h4,
#footer h5, #footer h6,
#footer .widget-title {
	color: #282629;
}

#footer .widget {
	color: #747f81;
}

.footer-widgets .widget {
	border-bottom-color: #d6dce1;
}

.footer-widgets .widget:first-child,
.footer-widgets .widget:nth-of-type(3n+1) {
	border-right-color: #d6dce1;
}

.footer-widgets .widget:nth-of-type(3n+3) {
	border-left-color: #d6dce1;
}

.copyright-area-widgets .widget {
	border-bottom-color: #d6dce1;
}

.footer-nav .menu li {
	border-right-color: #fff;
}

.footer-nav .menu .sub-menu li:before {
	border-left-color: #fff;
	border-bottom-color: #fff;
}


/**
 * Responsive Structure
 */
@media only screen and (max-width: 768px) {
	/**
	 * Header
	 */
	/* Primary/Secondary Navigation */
	nav .primary-nav li, #secondary-nav li {
		background: #f1f4f9;
	}

	nav .primary-nav li a, #secondary-nav li a {
		border-bottom-color: #d6dce1;
	}

	nav .primary-nav .child-menu-button, #secondary-nav .child-menu-button {
		color: #747f81;
	}

	nav .primary-nav .sub-menu li,
	nav .primary-nav .sub-menu li:first-child,
	nav .primary-nav .children li,
	nav .primary-nav .children li:first-child,
	#secondary-nav .sub-menu li,
	#secondary-nav .sub-menu li:first-child {
		background: #dbe4f1;
	}

	nav .primary-nav .sub-menu .sub-menu li, nav .primary-nav .children .children li, #secondary-nav .sub-menu .sub-menu li {
		background: #cfd9e8;
	}

	nav .primary-nav .sub-menu .sub-menu .sub-menu li, nav .primary-nav .children .children .children li, #secondary-nav .sub-menu .sub-menu .sub-menu li {
		background: #c9d4e4;
	}

	nav .primary-nav > li, #secondary-nav > li {
		border-left-color: #d6dce1;
		border-right-color: #d6dce1;
	}

	nav .primary-nav > li:first-child, #secondary-nav > li:first-child {
		border-top-color: #d6dce1;
	}

	nav .primary-nav > li:last-child, #secondary-nav > li:last-child {
		border-bottom-color: #d6dce1;
	}

	#secondary-nav li a, #secondary-nav .sub-menu li a {
		color: #747f81;
	}

	#secondary-nav li:hover > a, #secondary-nav .sub-menu li:hover > a {
		color: #3f70d4;
	}

	#secondary-nav li.current-menu-item > a {
		color: #3f70d4;
	}

	/**
	 * Footer
	 */
	/* Footer Widgets */
	.footer-widgets .widget,
	.footer-widgets .widget:nth-of-type(3n+3),
	.footer-widgets .widget:first-child,
	.footer-widgets .widget:nth-of-type(3n+1) {
		border-bottom-color: #d6dce1;
	}
}