/*
Theme Name: Inventor
Theme URI: https://flythemes.net/wordpress-themes/inventor-wordpress-theme/
Author: Flythemes
Author URI: https://flythemes.net
Description: Inventor theme is responsive construction/architect WordPress theme. This theme is responsive and compatible with the latest version of WordPress. This theme  is comes with the latest feature and nice color scheme in customizer. This theme can be useful for multiple industries like corporate, builders, photography, blog, magazine, corporate, cafe/restaurent, business, consultant, hospital, hotels, tours and holidays, creativity, shop store etc. This theme is comes with the traslation ready. Inventor theme is cross browser compatible and perform well with any browser. This theme is very easy to use for non coders also.

Version: 1.2.4
License: GNU General Public License
License URI: license.txt
Text Domain: inventor
Tags: blog, one-column, two-columns, right-sidebar, custom-background, custom-header, custom-menu, editor-style, featured-images, full-width-template, sticky-post, theme-options, threaded-comments, translation-ready, e-commerce, education, photography

Inventor WordPress Theme has been created by Flythemes(flythemes.net), 2016.
Inventor WordPress Theme is released under the terms of GNU GPL
*/

*{ margin:0; padding:0; outline:none;}
body{ margin:0; padding:0; -ms-word-wrap:break-word; word-wrap:break-word; background-color:#fff; font:400 14px/22px 'Raleway', sans-serif; color:#222222;}
img{ margin:0; padding:0; border:none; max-width:100%; height:auto; }
section img{max-width:100%;}
h1,h2,h3,h4,h5,h6{ margin:0; padding:0 0 15px;}
p{ margin:0; padding:0;}
a{ text-decoration:none; color:#ee6133;}
a:hover{ text-decoration:none; color:#666;}
ul{ margin:0 0 0 15px; padding:0;}
.clear{ clear:both;}
.center{ text-align:center; margin-bottom:40px;}
.middle-align{ margin:0 auto; padding:0;}
.wp-caption{ margin:0; padding:0; font-size:13px; max-width:100%;}
.wp-caption-text, .screen-reader-text, h2.comments-title{ margin:0; padding:0; font-size:20px;}
.sticky{ margin:0; padding:0;}
.gallery-caption{ margin:0; padding:0;}
.alignleft, img.alignleft {display: inline; float: left; margin-right:45px; margin-top:4px; margin-bottom:20px; padding:0; }
.alignright, img.alignright { display: inline; float: right; }
.aligncenter, img.aligncenter { clear: both; display: block; margin-left: auto; margin-right: auto; margin-top:0; }
.comment-list .comment-content ul { list-style:none; margin-left:15px;}
.comment-list .comment-content ul li{margin:5px;}
.main-container ol{list-style-position:outside; margin-left:20px;}
.main-container ol li{margin:5px 0;}
.toggleMenu{display:none;}
.bypostauthor{ margin:0; padding:0;}
section{ padding:50px 0; position:relative;}
h2.section-title { font-family:'Raleway'; font-size:30px; font-weight:700; padding:0 0 10px 0; text-align:center; display:table; color:#444444; border-bottom:1px solid #fdd835;}

#slider{ max-width:1400px; margin:0 auto; padding:0; position:relative;}
#slider .top-bar{ margin:0; padding:16px 0 20px; position:relative;}
#slider .top-bar h2{ padding:20px 0px 0px 30px; text-transform:uppercase; line-height:55px; font:700 40px 'Raleway'; color:#ffffff; text-align:left; background-color:rgba(0,0,0,0.5);}
#slider .top-bar p{ color:#ffffff; margin:0; line-height:20px; padding:10px 30px; font:400 14px/25px 'Raleway'; background-color:rgba(0,0,0,0.5);}
a.read-more {padding:10px 20px; margin-top:21px; display:inline-block; font:700 15px 'Raleway'; left:0; position:relative; text-transform:uppercase; margin-right:15px; color:#ffffff;}
.main-container{margin:0; padding:0;}

/** Topbar **/
#topbar { padding:0px 0 0; background-color:#fdd835;}
#topbar .callus { padding-top:10px;}
#topbar .callus p { font:700 15px 'Raleway', sans-serif; color:#ffffff; line-height:normal; padding-top:4px;}
.fa-phone-square {  margin-right:5px; margin-top:5px; float:left; color:#ffffff; font-size:15px !important;}
.top-social { margin:0; padding-top:10px;}
.top-social .social-icons a { border:2px solid #ffffff; color:#ffffff; background-color:none; float:right; font-size:1em !important;}
.top-social .social-icons a:hover { border:2px solid #0091ea; color:#0091ea; background-color:none;}

/** Header **/
#header { width:100%; position:relative; padding-bottom:20px; background-color:#ffffff; border-bottom:1px solid #ccc;}
.logo h1 { padding-bottom:0; padding:10px 0 0; text-transform:uppercase; font-size:25px; font-family:'Raleway'; color:#272727; font-weight:bold; }
.header-shadow{ background:url(images/header-shadow.png) no-repeat bottom center; height:30px; text-align:center; position:absolute; left:0; right:0; bottom:-30px; z-index:99;}
.toggle{display:none;}
.main-nav ul li a { font:400 15px 'Raleway'; color:#1d1d1d;}

.header-bottom { background:url(images/header-shadow.png) no-repeat center bottom; height:30px; bottom: -30px; position: absolute; width: 100%; z-index:9;}

@media screen and (min-width:1000px){
	#header .main-nav{ float:right;}
	.main-nav ul { margin: 0; padding:35px 0 0 0; float:right;}
	.main-nav ul li { list-style:none; display:inline-block;  position:relative;}
	.main-nav ul li ul { display:none; width:175px; }
	.main-nav ul li a { text-decoration:none; padding:10px 10px; text-align:left; text-transform:uppercase; }
	.main-nav ul li a:hover { text-decoration:none; padding:10px 10px; color:#2978c7; }
	.main-nav ul li:hover ul {display:block; position:absolute; background-color:#222222; z-index:99; padding:10px 10px; top:30px; }
	.main-nav ul li:hover ul li {display:block; padding-bottom:5px; padding-top:0;}
	.main-nav ul li:hover ul li a { padding:0;  border-top:0; text-transform:capitalize;}
	.main-nav ul li:hover ul li ul { display:none; }
	.main-nav ul li:hover ul li:hover ul { display:block; position:absolute; z-index:999; padding:10px 10px; left:100%; top:-21%;}
	.main-nav ul li:hover ul li:hover ul li { display:block;}
	#header .logo{float:left; margin-top:8px; padding-bottom:8px;}
}

/* --------- Pages ------- */
.content-area{ width:1160px; margin:0 auto; padding:50px 0;}
.site-main{ width:800px; margin:0; padding:0; float:left;}
#sitefull{ width:auto !important;}
#nosidebar{ width:80%; margin:0 auto; float:none; text-align:center;}
#sidebar{ width:270px; margin:0; padding:0; float:right;}

/** ------ copyright css ------ **/
.copyright-wrapper { position:relative; padding:20px 0; background-color:#000000; color:#ffffff;}
.copyright-wrapper .inner{width:1170px; margin: auto;}
.copyright { margin:auto; text-align:center;}

/* ------ Contact Form ------ */
.wpcf7{ margin:0; padding:0; font:400 15px 'Raleway'; color:#ffffff;}
.wpcf7 form{ margin:0; padding:0;}
.wpcf7 form span.last{ float:none !important;}
.wpcf7 form input[type="text"], .wpcf7 form input[type="email"], .wpcf7 form input[type="tel"], .wpcf7 form input[type="url"], .wpcf7 form input[type="date"], .wpcf7 form select, .leftdiv input[type="text"], .leftdiv input [type="url"], .leftdiv input[type="email"], .leftdiv input[type="tel"], .wpcf7 form textarea, .rightdiv textarea{ width:100%; background-color:#f7f0ed; border:none; padding:10px; margin-top:15px; font:300 18px 'Raleway'; color:#777777;}
.wpcf7 form textarea, .rightdiv textarea{height:156px; width:100%;}
.wpcf7 form input[type="checkbox"], .wpcf7 form input[type="radio"], .wpcf7 form input[type="file"]{ margin-top:10px; padding:0;}
span.wpcf7-list-item{ margin:0 15px 0 0 !important;}
.wpcf7 form input[type="submit"], #contact input[type="submit"]{font:400 15px 'Raleway'; margin:25px 0 0 0; padding:5px 20px; border:none; color:#ffffff; border-radius:4px; -moz-border-radius:4px; -o-border-radius:4px; -webkit-border-radius:4px; cursor:pointer; background-color:#0fa5d9;}
.entry-content p input[type="submit"] { background-color:#0bb5c7; border:none; padding:10px 20px; font:400 15px 'Raleway'; color:#ffffff; border-radius:4px; -moz-border-radius:4px; -o-border-radius:4px; -webkit-border-radius:4px;}
.main-form-area p input[type="submit"] {background-color: #fdd835; border: medium none; border-radius: 5px; color: #ffffff; display: block; font-size: 25px; margin: 2% auto 0; padding: 10px 50px; text-align: center;text-transform: uppercase;}
.spacer20{height:20px; clear:both;}
.nav-links{display:table; clear:both; margin-top:15px;}
.nav-links a, .nav-links .page-numbers{background:#2e2e2e; color:#fff; padding:5px 10px; display:inline-block;}
.nav-links .current, .nav-links a:hover{background:#ff8a00;}
h1.entry-title, h1.page-title{padding-bottom:20px; font-size:30px; /*text-transform:uppercase;*/}
h2.entry-title{ font:400 25px 'Raleway',sans-serif;}
h2.entry-title a, #sidebar a{ color:#222222;}
article.tag-sticky-2{background:#f6f6f6; padding:10px;}
article img{height:auto;}
article p{margin:10px 0;}
.post-date{display:inline;}
.post-comment{display:inline;}
.post-categories{display:inline;}
.post-tags{display:inline;}
form.search-form{margin-bottom:15px;}
input.search-field, .post-password-form input[type=password]{border:1px #fdd835 solid; padding:4px;}
input.search-submit, .post-password-form input[type=submit]{border:none; color:#ffffff; padding:4px 10px; cursor:pointer;}
aside.widget{margin-bottom:30px;}
aside.widget ul{ list-style:disc; margin-left:13px;}
.nav-previous{float:left; margin-top:10px; margin-bottom:10px;}
.nav-next{float:right; margin-top:10px; margin-bottom:10px;}
nav.post-navigation{padding:10px 0 20px;}
#sidebar ul li{margin:5px 0;}
.comment-list, ol.comment-list{list-style:none; margin-left:0; margin-top:20px; margin-bottom:20px;}
.comment-list ul, ol.comment-list ul{list-style:none;}
.comment-list li.comment{margin-top:20px;}
.comment-list .comment-content h1, .comment-list .comment-content h2, .comment-list .comment-content h3, .comment-list .comment-content h4, .comment-list .comment-content h5, .comment-list .comment-content h6{margin-top:15px;}
h3.widget-title{ font-size:18px; border-bottom:1px solid #cccccc; padding-bottom:15px; margin-bottom:15px; text-transform:capitalize;}
.blog-post-repeat{ border-bottom:1px dashed #cccccc; margin-bottom:40px;}
p.read-more a{ background-color:#222222; color:#ffffff; padding:10px 25px; position:relative; top:10px;}
.postmeta a{ color:#222222;}

/* ---- woocommerce ----- */
a.added_to_cart{background:#e1472f; padding:5px; display:inline-block; color:#fff; line-height:1;}
a.added_to_cart:hover{background:#000000;}
a.button.added:before{content:'' !important;}
#bbpress-forums ul li{padding:0;}
#subscription-toggle a.subscription-toggle{padding:5px 10px; display:inline-block; color:#e1472f; margin-top:4px;}
textarea.wp-editor-area{border:1px #ccc solid;}
.woocommerce input[type=text], .woocommerce textarea{border:1px #ccc solid; padding:4px;}
form.woocommerce-ordering select{ padding:5px; color:#777777;}
.woocommerce table.shop_table th, .woocommerce-page table.shop_table th{ font-family:'Raleway'; color:#ff8a00;}
.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price{ color:inherit !important;}
h1.product_title, p.price{ margin-bottom:10px;}
a.blogthumbs img{ width:100%;}
.social-icons{ text-align:center;}
.social-icons a { border-radius: 29px; display: table; float: left; height: 25px; margin: 0 13px 13px 0; vertical-align: 0; width: 25px;}
.fa::before, fa::after{ display:table-cell; vertical-align:middle;}
table, td, th {border: 1px solid black; padding:10px;}

/*------- COMMENT STYLES --------*/
.comment-author.vcard{display:inline-block; margin-right:15px; float:left;}
.comment-list ul.children li.comment{background-image:none; padding-left:5px;}
.hrule{border-top:1px #dbdbdb solid; margin-top:15px; padding-bottom:15px;}
ol.commentlist{list-style:none;}
#commentform p{margin:5px 0;}
#commentform label{display:block;}
#commentform input#email, #commentform input#url, #commentform input#author, #commentform textarea, #commentform input#eazycfc_captcha{max-width:96%; border:1px #ccc solid; padding:5px 2%;}
#commentform input#submit{font:400 15px 'Roboto Condensed', sans-serif;  border:none; padding:5px 10px; color:#fff; display:inline-block;}
#commentform input#submit:hover{ cursor:pointer;}
.form-allowed-tags{display:none;}
ul.errormsg{background:#ffe4e4;}
ul.errormsg li{padding:5px;}
.entry-content table, .comment-body table{ border-collapse:collapse; margin:10px 0;}
.entry-content table td, .entry-content table th, .comment-body table td, .comment-body table th{padding:10px 5px; text-align:left;}
.entry-content table th, .comment-body table th{color:#676767; font:normal 18px Oswald; border-bottom:1px #888 solid;}
.entry-content table td, .comment-body table td{border-bottom:1px #ccc solid;}
.fvch-codeblock:hover .comment-form-url{display:block !important;}